on: [push]
name: CI
jobs:
  build_and_test:
    name: Rust project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      # Add this step to install system dependencies
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libfontconfig1-dev pkg-config
      
      - name: Install rust
        uses: dtolnay/rust-toolchain@stable
        with:
          # toolchain: nightly-2024-06-21
          toolchain: nightly-2024-12-14
          targets: wasm32-unknown-unknown,x86_64-unknown-linux-gnu
          
      - name: Cargo test
        run: cargo +nightly-2024-12-14 test

      - name: Cargo Build cli
        run: cargo +nightly-2024-12-14 build --release --package cli