on:
  push:
    branches-ignore: [main]
  pull_request:
name: CI
jobs:
  build_and_test:
    name: Rust project
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/afbase/rust-zola-builder:pinned
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - name: Cargo test
        run: cargo test

      - name: Cargo Build cli
        run: cargo build --release --package cli
